[Desktop Entry]
Encoding=UTF-8
Name=Redshift Control
Name[ca]=Control per al Redshift
Name[ca@valencia]=Control per al Redshift
Name[cs]=Ovládání Redshift
Name[de]=Rotverschiebung-Einstellungen
Name[el]=Έλεγχος μετατόπισης ερυθρού
Name[en_GB]=Redshift Control
Name[es]=Control de Redshift
Name[et]=Redshifti juhtimine
Name[eu]=Redshift agintea
Name[fi]=Redshiftin hallinta
Name[fr]=Contrôle de Redshift
Name[gl]=Control de redshift
Name[ia]=Controlo Redshift (Torno al rubie)
Name[it]=Controllo di Redshift
Name[ko]=Redshift 관리
Name[lt]=Redshift valdymas
Name[nl]=Besturing van roodverschuiving
Name[nn]=Redshift-kontroll
Name[pl]=Sterowanie Redshift
Name[pt]=Controlo do Redshift
Name[pt_BR]=Controle do Redshift
Name[ru]=Настройка Redshift
Name[sk]=Ovládanie Redshift
Name[sl]=Redshift Control
Name[sv]=Rödförskjutningsstyrning
Name[uk]=Керування Redshift
Name[x-test]=xxRedshift Controlxx
Name[zh_CN]=Redshift 控制
Name[zh_TW]=Redshift 控制
Comment=Plasmoid for controling redshift.
Comment[ca]=Plasmoide per a controlar el redshift.
Comment[ca@valencia]=Plasmoide per a controlar el redshift.
Comment[de]=Miniprogramm zur Steuerung der Rotverschiebung
Comment[el]=Γραφικό συστατικό για τον έλεγχο μετατόπισης ερυθρού.
Comment[en_GB]=Plasmoid for controlling redshift.
Comment[es]=Plasmoide para el control de RedShift.
Comment[et]=Plasmoid Redshifti juhtimiseks.
Comment[eu]=Redshift agintzeko plasmoidea.
Comment[fi]=Sovelma Redshiftin hallintaan.
Comment[fr]=Composant graphique de contrôle de redshift.
Comment[gl]=Plasmoide para controlar redshift.
Comment[ia]=Pasmoid per controlar redshift (torno al rubie)
Comment[it]=Plasmoide per controllare lo spostamento verso il rosso.
Comment[ko]=Redshift를 제어하는 Plasmoid.
Comment[lt]=Plasma įskiepis, skirtas valdyti redshift.
Comment[nl]=Plasmoid voor besturing van roodverschuiving.
Comment[nn]=Skjermelement for styring av Redshift.
Comment[pl]=Plazmoid do sterowania redshift.
Comment[pt]=Plasmóide para controlar o Redshift.
Comment[pt_BR]=Plasmoide para controle do Redshift.
Comment[ru]=Виджет для управления Redshift
Comment[sk]=Plazmoid na ovládanie redshift.
Comment[sl]=Plazmoid za nadzor rdečega premika.
Comment[sv]=Plasmoid för att styra rödförskjutning.
Comment[uk]=Плазмоїд для керування redshift.
Comment[x-test]=xxPlasmoid for controling redshift.xx
Comment[zh_CN]=控制 redshift 的 plasmoid 小部件。
Comment[zh_TW]=用來控制 redshift 的 Plasmoid。
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik
X-KDE-PluginInfo-Email=clearmartin@seznam.cz
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.redshiftControl
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/kotelnik/plasma-applet-redshift-control
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Graphics
Icon=redshift
#prefix for Icon is: /usr/share/icons/breeze/actions/toolbar/
#copy this file into ~/.local/share/kservices5
